html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  
  background-color: #ADD8E6;
  /* background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; */
  filter: brightness(1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h1, h2, p, span {
  color: rgb(28, 42, 102);
}