html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  
  filter: brightness(1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sega
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.sticky-header {
            position: sticky;
            top: 0;
            z-index: 10;
            height: 250px;
            background-image: url('./public/assets/GED Activation Header.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-size:contain;
            filter: brightness(1);
            width: 100%;
          }

h1, h2, p, span {
  color: rgb(28, 42, 102);
}
.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  height: 220px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  filter: brightness(1);
  width: 100%;
}

.footer-location-1 {
  background-image: url('./public/assets/p1.jpg'); /* Replace with your image path */
}

.footer-location-2 {
  background-image: url('./public/assets/p2.jpg'); /* Replace with your image path */
}

.footer-location-3 {
  background-image: url('./public/assets/p3.jpg'); /* Replace with your image path */
}  