html, body, #root {
  background-color: #00BFFF;
  height: 100%;
  margin: 0;
  padding: 0;

  background-image: url('./assets/logo.png'); /* Коригирай пътя до логото */
  background-repeat: no-repeat; /* Не повтаряй логото */
  background-position: center center; /* Центрирай логото */
  background-size: 50%; /* Промени размера, ако е необходимо (напр. 'contain', 'cover', '100px auto') */
  background-attachment: fixed; /* (По избор) Ако искаш логото да стои на място, когато скролваш */

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white; /* Add this to set default text color to white */
}

/* Make sure any text from other elements is also white */
h1, h2, p, span {
  color: white;
}